.content {
  display: flex;
  flex-direction: row;
  .left {
    flex: 1;
    .row {
      font-size: 0.8em;
      .label {
        background-color: rgba(orange, 0.2);
        color: darken(orange, 10%);
        cursor: pointer;
        border-radius: 3px;
        padding: 2px 5px;

        &:first-child {
          margin-left: 10px;
        }
        &:not(:first-child) {
          margin-left: 2px;
        }

        &.active {
          background-color: darkorange;
          color: white;
        }
      }

      .secondary {
        background-color: lighten(lightgreen, 15%);
        color: darken(lightgreen, 35%);
        &.active {
          background-color: darkgreen;
          color: white;
        }
      }
    }
  }
  .right {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .label {
      min-width: 140px !important;
    }
  }
}
